.InfoText {
  text-align: left;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.title {
  font-family: "Outfit-SemiBold";
  font-size: 22px;
  color: rgba(53, 66, 89, 1);
}

.InfoText :global .carousel-inner {
  height: 377px;
  width: 330px;
  border-radius: 15px;
  background-color: rgba(201, 222, 222, 1);
  box-shadow: 5px 5px 10px rgba(53, 66, 89, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: "Outfit-Light";
  font-size: 17px;
  line-height: 25px;
  color: rgba(53, 66, 89, 1);
}

.InfoText :global .carousel-item.active,
.InfoText :global .carousel-item-next,
.InfoText :global .carousel-item-prev {
  display: block;
}

.InfoText :global .carousel-indicators .active {
  opacity: 1;
  background-image: linear-gradient(
    to right,
    rgba(42, 109, 113, 1),
    rgba(49, 85, 100, 1)
  ) !important;
  box-shadow: none !important;
}
.InfoText :global .carousel-indicators [data-bs-target] {
  width: 15px !important;
  height: 15px !important;
  opacity: 1 !important;
  box-shadow: inset 0px 3px 6px rgba(53, 66, 89, 0.3);
  transition-property: box-shadow;
  border-radius: 100% !important;
}
.InfoText :global .carousel-control-next-icon,
.InfoText :global .carousel-control-prev-icon {
  display: none;
}
