.h1 {
  font-size: 32px;
}

.Buttons :global .BasicButton {
  height: 50px;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(53, 66, 89, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: "Outfit-Light";
  border-radius: 40px;
  border: none;
}

.Buttons :global .CyanButton {
  height: 50px;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(46, 94, 105, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: "Outfit-Light";
  border-radius: 40px;
  border: none;
}
.Buttons :global .InactiveButton {
  height: 50px;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  background-color:rgba(255, 255, 255, 1);
  box-shadow: inset 0px 8px 10px rgba(53, 66, 89, 0.25);
  color: rgba(53, 66, 89, 0.5);
  font-size: 24px;
  font-family: "Outfit-Light";
  border-radius: 40px;
  border: none;
}
.Buttons :global .XButton {
  height: 26px;
  width: 26px;
  padding-bottom: 27px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 10px rgba(53, 66, 89, 0.25);
  border-radius: 40px;
  border: none; 
}


/* <---------------Buttons--------------->
//Größe
width: fit-content; 
height: 50px;
padding: 0px 20px 0px 20px;
border-radius: 40px;
border: none;
font-size: 20px;

//abstehend
background-color: rgba(38, 121, 120, 1);
color: rgba(245, 242, 235, 1);
box-shadow: 0px 8px 10px rgba(53, 66, 89, 0.25);

//eingedrückt
background-color: rgba(255, 255, 255, 1);
color: rgba(53, 66, 89, 0.5);
box-shadow: inset 0px 3px 5px rgba(53, 66, 89, 0.25);
text-input-box: inset 0px 3px 10px rgba(53, 66, 89, 0.25); kein css Befehl
example-text-input-color: rgba(53, 66, 89, 0.25); kein css Befehl */
