.UserAnswers {
  position: relative;
}

.UserAnswers :global .questWave {
  border-radius: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.UserAnswers :global .BlurEffect {
  filter: brightness(60%);
  background-color: rgb(199, 199, 199);
  height: 844px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.UserAnswers :global h1 {
  font-family: "Outfit-SemiBold";
  font-size: 32px;
  padding-left: 30px;
  padding-top: 40px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 1);
}

.UserAnswers :global .Caption {
  font-family: "Outfit-Thin";
  padding-left: 30px;
  font-size: 20px;
  max-width: 330px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 1);
}

.UserAnswers :global .ListElements {
  margin-top: 115px;
}
.UserAnswers :global .Left {
  float: left;
  margin-left: 30px;
}
.UserAnswers :global .Right {
  float: right;
  margin-right: 30px;
}

.UserAnswers :global .QuestAnswerList_Image__IqL02 {
  margin-bottom: 24px;
}

.UserAnswers :global .QuestAnswerCard {
  position: relative;
  padding-top: 170px;
}
.UserAnswers :global .ExitCard {
  position: relative;
  float: right;
  padding-right: 20px;
}
.UserAnswers :global .ExitCardButton {
  height: 26px;
  width: 26px;
  padding-bottom: 27px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 10px rgba(53, 66, 89, 0.25);
  border-radius: 40px;
  border: none;
  margin-bottom: 5px;
}
.UserAnswers :global .Answers {
  width: 100%;
  height: auto;
  position: absolute;
}
.UserAnswers :global .EndStationButton {
  text-align: center;
  margin-bottom: 30px;
}
/*filter: blur(4px);*/
