.App {
  text-align: center;
}
h1 {
  padding-top: 20px;
}
.images {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.InfoText {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-inner {
  min-height: 300px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.StationBeenden {
  margin-top: 20px;
  margin-bottom: 20px;
}
