.StationBeforeQuest {
  position: relative;
}

.Map {
  position: absolute;
  filter: blur(4px) brightness(50%);
  width: 100%;
}

.card {
  top: 50px;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  border-radius: 15px;
}

.exitIcon {
  width: 50px;
  margin-top: 10px;
  margin-left: 15px;
  border: none;
  background: none;
}

.alignHeaderAndTime {
  display: flex;
  align-items: center;
  height: 30px;
}

.timePlaceholder {
  padding-right: 25px;
  padding-top: 25px;
  padding-left: 50px;
  display: block;
}

h1 {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  margin: 0;
}

.spot {
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  padding-top: 10px;
}

/* .category {
  font-size: small;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
} */

.alignIconAndAdress {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.adress {
  color: #267978;
  padding-left: 7px;
  padding-right: 25px;
  margin-bottom: 0;
}

.locationImg {
  width: 15px;
  margin-left: 25px;
}

.historicalText {
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  line-height: 20px;
}
.button {
  background-color: #267978;
  color: white;
  border-radius: 40px;
  border: none;
  width: 60%;
  height: 50px;
  font-size: 20px;
  box-shadow: 5px 10px 10px #bfbfbf;
}

.arrow {
  height: auto;
  width: 10%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
  background: none;
}
