.Header :global h1 {
  font-family: "Outfit-SemiBold";
  font-size: 32px;
  padding-left: 30px;
  padding-top: 70px;
  margin-bottom: 0px;
}

.spot {
  padding-left: 30px;
  font-size: 14px;
}

.ImageCarousel {
  margin-top: 40px;
}
.InputAudio {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.TextCarousel1 {
  margin-top: 55px;
}
.TextCarousel2 {
  margin-top: 40px;
}
