/* .Map {
  position: absolute;
  filter: blur(4px) brightness(50%);
  width: 100%;
  height: auto;
} */

.Blurb {
  position: relative;
}

.Blurb :global .card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 15px;
  display: block;
  box-shadow: 0px 0px 10px 5px #bfbfbf;
  /* box-shadow: 0px 0px 7px 7px grey; */
}

.Blurb :global .closeButton {
  width: 50px;
  height: auto;
  margin-top: -15px;
  margin-left: -15px;
  border: none;
  position: absolute;
}

.Blurb :global .timePlaceholder {
  padding-top: 25px;
  padding-right: 25px;
  float: right;
  display: block;
  position: relative;
  width: 100px;
  height: auto;
}

.Blurb :global h1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  float: left;
  font-family: "Outfit-SemiBold";
  font-size: 32px;
}

.Blurb :global .spot {
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  float: left;
}

.Blurb :global .stationImage {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.Blurb :global .WalkingImg {
  position: absolute;
  width: 12px;
  height: auto;
  margin-left: 40px;
  margin-top: -30px;
}

.Blurb :global .WalkingText {
  position: absolute;
  margin-left: 60px;
  margin-top: -35px;
  color: white;
  font-size: 18px;
}

.Blurb :global .locationImg {
  width: 30px;
  height: auto;
}

.Blurb :global .historicalText {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  text-align: left;
  line-height: 25px;
  font-size: 17px;
  font-family: "Outfit-Light";
}

.Blurb :global .button {
  background-color: rgba(53, 66, 89, 1);
  color: white;
  border-radius: 40px;
  border: none;
  width: 70%;
  height: 50px;
  font-size: 25px;
  box-shadow: 5px 10px 10px #bfbfbf;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Blurb :global .alignIconAndAdress {
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 8px;
}

.Blurb :global .adress {
  color: rgba(254, 56, 87, 1);
  padding-left: 7px;
  margin-bottom: 0px;
  font-size: 23px;
}
