/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro"); */

.Map {
  position: relative;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.Map :global .MapImage {
  position: absolute;
  width: 100%;
  height: auto;
  position: fixed;
}

.Map :global .CategoryButton {
  width: 50px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 100px;
  /* border-radius: 0px; */
}

.Map :global .circleContainer {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleContainer :global .circle {
  animation: pulse 2s infinite;
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.9);
  }
}

.Map :global .Blurb {
  position: relative;
  margin-top: -935px;
}

.Map :global .PreviewCard {
  position: relative;
  margin-top: -420px;
}

.Map :global .location-container {
  position: relative;
}

.Map :global .active {
  position: relative;
  width: 40px;
  height: 50px;
  left: 80px;
  top: 370px;
}

.Map :global .inactive1 {
  position: relative;
  width: 40px;
  height: 50px;
  left: 250px;
  top: 400px;
}
.Map :global .inactive2 {
  position: relative;
  width: 40px;
  height: 50px;
  left: 295px;
  top: 300px;
}
